{% extends 'layout.html' %}
{% block headline %}
  {{ county }}
{% endblock %}
{% block subhead %}
  <strong>There are {{total}} data analysts in {{county}} county </strong>
{% endblock %}
{% block content %}
<div class="container">
  <div class="row">
    <div class="column">
    <p><strong>County Name:</strong> {{ county }}</p>
    <p><strong>Number of Disasters:</strong> {{ disasters }}</p>
    <p></p>
    </div>
    <div class="column">
    <div id='map' style='width: 600px; height: 300px;'></div>
    </div>
  </div>
</div>

{% endblock %}